<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>STRAICO_API_BASE</key>
	<string>https://api.straico.com/v0</string>
	<key>STRAICO_API_KEY</key>
	<string>0y-bzrifu2lUOW8yD6CbQlNOQx3eNYjsVCO98xGX2DwFvxi564Z</string>
	<key>NSCalendarsUsageDescription</key>
	<string>AceUp necesita acceso a tu calendario para agregar eventos de la universidad.</string>
</dict>
</plist></string>
</dict>
</plist>
